PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
AZURE_AUTH_ENABLED=false
AZURE_TENANT_ID=
AZURE_API_AUDIENCE=api://your-bff-client-id
AZURE_API_CLIENT_ID=
AZURE_REQUIRED_SCOPE=
DATABASE_ENABLED=false
DB_HOST=srmm-production.c3d1svt6dnfc.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=srmm_admin
DB_PASSWORD=REEMPLAZAR_CON_LA_CONTRASENA_DE_RDS
DB_SSL=true
